/*hero section*/
.hero__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 5rem;
}
.hero__left__wrapper{
    max-width: 360px;
}
.hero__imgwrapper{
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
}
.hero__heading{
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.4rem;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--black-1);
}
.hero__info{
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    color: var(--black-2);
}
.button__wrapper{
    text-align: center;
}
@media only screen and (min-width:768px){
    .hero__wrapper{
        flex-direction: row;
        gap: 0;
    }
    .hero__left{
        flex: 3;
    }
    .hero__right{
        flex: 4;
    }
    .hero__heading{
        font-size: 3.6rem;
        text-align: left;
        margin-bottom: 2rem;
        line-height: 1;
    }
    .hero__info{
        font-size: 1.8rem;
        text-align: left;
        margin-bottom: 2rem;
    }
    .button__wrapper{
        text-align: left;
    }
    .hero__imgwrapper{
        max-width: none;
        width: 90%;
    }
}
/*our specials*/
#ourspecials{
    padding-top: 10rem;
}
.ourspecials__wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.ourspecials__left{
    display: flex;
    gap: 1rem;
}
.ourspecials__item{
    background-color: var(--lightgreen-1);
    padding: 1.2rem;
    padding-top: 5rem;
    border-radius: 12px;
    width: 45%;
    margin: 0 auto;
}
.ourspecials__item__img{
    margin-top: calc(-50% - 2rem);
    margin-bottom: 2rem;
    border-radius: 12px;
    height: 150px;
    overflow: hidden;
}
.ourspecials__item__img img{
    object-fit: cover;
}
.ourspecials__item__title{
    font-size: 1.4rem;
    color: var(--black-1);
    font-weight: 600;
    margin-bottom: 1rem;
}
.ourspecials__item__price{
    color: var(--blue-1);
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.ourspecials__item__stars{
    height: 1.5rem;
    width: max-content;
    margin-bottom: 1rem;
}
.ourspecials__item__text{
    font-size: 1.5rem;
    color: var(--black-2);
    font-weight: 500;
}
.ourspecials__title{
    font-size: 1.8rem;
    color: var(--black-1);
    margin-bottom: 1.5rem;
}
.ourspecials__text{
    font-size: 1.4rem;
    color: var(--black-2);
    margin-bottom: 1rem;
}
@media only screen and (min-width:768px){
    #ourspecials{
        padding-top: 15rem;
    }
    #ourspecials .container{
        max-width: 900px;
    }
    .ourspecials__wrapper{
        flex-direction: row;
    }
    .ourspecials__left{
        flex: 4;
        gap: 2rem;
    }
    
.ourspecials__item__img{
    margin-top: calc(-30% - 2rem);
    margin-bottom: 2rem;
    border-radius: 12px;
    height: 150px;
    overflow: hidden;
}
    .ourspecials__right{
        flex: 2;
    }
    .ourspecials__item{
        padding: 2rem;
        width: 40%;
    }
    .ourspecials__item__title{
        font-size: 2.4rem;
        line-height: 1.4em;
        margin-bottom: 1.5rem;
    }
    .ourspecials__item__price{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .ourspecials__item__stars{
        margin-bottom: 2rem;
    } 
    .ourspecials__item__text{
        font-size: 1.6rem;
    }
    .ourspecials__title{
        font-size: 3.6rem;
        margin-bottom: 1.5rem;
    }
    .ourspecials__text{
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

}
@media only screen and (max-width:300px){
    .ourspecials__left{
        flex-wrap: wrap;
        gap: 10rem;
    }
    .ourspecials__item{
        width: 100%;
    }
}
/*discount design*/
.discount__wrapper{
    display: flex;
    flex-direction: column;
    padding: 1.5rem ;
    border-radius: 12px;
    background: var(--lightgreen-1) url(./images/discount-illustration.png) no-repeat bottom right / 100px ;
}
.discount__images{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    width: 100% ;
}
.discount__img1{
    flex: 2;
}
.discount__img2{
    flex: 3;
}
.discount__images img{
    object-fit: cover;
    border-radius: 12px;
}
.discount__text{
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--blue-1);
    margin-bottom: 0.5rem;
}
.discount__title{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--black-1);
}
.discount__price{
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.discount__old__price{
    color: var(--black-2);
    text-decoration: line-through;
}
.discount__new__price{
    color: var(--blue-1);
}
.discount__stars{
    width: max-content;
    height: 15px;
    margin-bottom: 1rem;
}
@media only screen and (min-width:768px){
    .discount__wrapper{
        flex-direction: row;
        padding: 2rem;
        align-items: center;
        background-size: 150px;
        gap: 4rem;
        margin: 0 auto ;
    }
    .discount__images{
        flex: 5;
        margin-bottom: 0;
        gap: 2rem;
    }
    .discount__img1,.discount__img2,.discount__img3{
        flex: 1;
        height: 350px;
    }
    .discount__info{
        flex: 3;
    }
    .discount__text{
        font-size: 2.4rem;
    }
    .discount__title{
        font-size: 3.6rem;
        margin-bottom: 1.5rem;
    }
    .discount__price{
        font-size: 2.4rem;
    }
    .discount__stars{
        height: 20px;
        margin-bottom: 2rem;
    }
}
@media only screen and (max-width:1000px){
    .discount__img3{
        display: none;
    }
    .discount__wrapper{
        gap:2rem;
    }
}
/*event media section*/
.eventmedia__wrapper{
    display: flex;
    gap: 1rem ;
}
.eventmedia__1{
    position: absolute;

}
.eventmedia__1__playbutton{
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-470%);
    max-width: 50px;
}
@media only screen and (min-width:768px){
    .eventmedia__wrapper{
        gap: 2rem;
    }
    .eventmedia__1__playbutton{
        max-width: 100px;
        transform: translate(-50%,-780%);
    }
}
/*events info*/
#eventsinfo{
    padding-top:0 ;
}
.eventsinfo__wrapper{
    display: flex;
    flex-direction: column;
}
.eventsinfo__item{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background: var(--lightgreen-1);
    margin-bottom: 1.5rem;
    border-radius: 12px;
}
.eventsinfo__item__img{
    border-radius: 12px;
    overflow: hidden;
    flex: 3;
}
.eventsinfo__item__img img{
    object-fit: cover;
}
.eventsinfo__item__info{
    flex: 4;
}
.eventsinfo__item__title{
    font-size: 1.9rem;
    margin-bottom: 1rem;
    color: var(--black-1);
}

.eventsinfo__item__text{
    font-size: 1.4rem;
    color: var(--black-2);
}
.eventsinfo__right{
    margin-top: 2rem;
}
.eventsinfo__title{
    font-size: 1.8rem;
    color: var(--black-1);
    margin-bottom: 1rem;
}
.eventsinfo__text{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: var(--black-2);
}
@media only screen and (min-width:768px){
    .eventsinfo__wrapper{
        flex-direction: row;
        gap: 2rem;
    }

    .eventsinfo__right,.eventsinfo__left{
        flex:1;
    }    
    .eventsinfo__item{
        padding: 2rem;
        gap: 2rem;
        max-width: 500px;
        margin-bottom: 2rem;
    }
    .eventsinfo__item__title{
        font-size: 1.8rem;
    }
    .eventsinfo__item__text{
        font-size: 1.6rem;
    }
    .eventsinfo__title{
        font-size: 3.6rem;
    }
    .eventsinfo__text{
        max-width: 500px;
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
}
/*why us */
.whyus__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.whyus__left{
    text-align: center;
}
.whyus__title{
    font-size: 1.8rem;
    font-family: Poppins;
    color: var(--black-1);
    font-weight: 500;
    margin-bottom: 1rem;
}
.whyus__text{
    font-size: 1.4rem;
}
.whyus__item__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.whyus__item{
    background: var(--lightgreen-1);
    padding: 2rem;
    border-radius: 12px;
}
.whyus__item__icon{
    max-width: 56px;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.whyus__item__text{
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black-1);

}
@media only screen and (min-width:768px){
    .whyus__wrapper{
        flex-direction: row;
        margin: 0  auto;
        max-width: 900px;
    }
    .whyus__left{
        flex: 4;
        text-align: left;
    }
    .whyus__right{
        flex: 3;
    }
    .whyus__title{
        font-size: 3.6rem;
        margin-bottom: 2rem;
    }
    .whyus__text{
        font-size: 1.8rem;
        line-height: 1.4em;
    }
    .whyus__item__wrapper{
        gap: 1.5rem;
    }
    .whyus__item{
        padding: 2rem;
    }
    .whyus__item__icon{
        max-width: 65px;
        margin-bottom: 1.5rem;
    }
    .whyus__item__text{
        font-size: 1.8rem;
        text-align: center;
    }
}
/*testimonial*/
.testimonial__wrapper{
    max-width: 400px;
    margin: 0 auto;
}
.testimonial__title{
    font-size: 1.8rem;
    margin-bottom: 3rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--black-1);
}
.testimonial__item__wrapper{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1rem;
}
.testimonial__item{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    background-color: var(--lightgreen-1);
    border-radius: 12px;
}
.testimonial__item__info{
    flex: 4;
}
.testimonial_item__img{
    flex: 2;
    border-radius: 12px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.testimonial_item__img img{
    object-fit: cover;
}
.testimonial_item__name{
    font-size: 1.4rem;
    font-family: Poppins;
    margin-bottom: 1rem;
    color: var(--black-1);
}
.testimonial__item__star{
    max-height: 15px;
    width: max-content;
    margin-bottom: 1.5rem;
}
.testimonial_item__text{
    font-size: 1.4rem;
}
@media only screen and (min-width:768px){
    .testimonial__wrapper{
        max-width: 900px;
    }
    .testimonial__title{
        font-size: 3.6rem;
        margin-bottom: 5rem;
    }
    .testimonial__item__wrapper{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .testimonial__item{
        padding: 2rem;
    }
    .testimonial_item__name{
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }
    .testimonial__item__star{
        margin-bottom: 2rem;
    }
    .testimonial_item__text{
        font-size: 1.6rem;
        line-height: 1.4em;
    }
}
@media only screen and (max-width:360px){
    .testimonial__item{
        flex-direction: column;
    }
    .testimonial_item__img,.testimonial__item__info{
        flex: auto;
    }
}
/*newsletter*/
.newsletter__wrapper{
    display: flex;
    flex-direction: column;
    background-color: var(--blue-2);
    padding: 1.5rem;
    border-radius: 8px;
    gap: 2rem;
}
.newsletter__title{
    font-size: 1.8rem;
    color: var(--black-1);
    font-weight: 600;
    margin-bottom: 1.3rem;
}
.newsletter__text{
    font-size: 1.4rem;
    color: var(--black-2);
    font-weight: 500;
}
.newsletter__form form{
    position: relative;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.newsletter__form label{
    width: 100%;
}
.newsletter__form input{
    width: 100%;
    font-size: 1.4rem;
    padding: 1.5rem 1rem;
    border: none;
}
.newsletter__form input::placeholder{
    color: rgb(168, 166,166);
}
.newsletter__form button[type='submit']{
    background-color: var(--blue-1);
    color: var(--white-1);
    font-size: 1.4rem;
    padding: 0 2rem;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
@media only screen and (min-width:768px){
    .newsletter__wrapper{
        flex-direction: row;
        padding: 5rem;
        align-items: center;
    }
    .newsletter__form,.newsletter__info{
        flex: 1;
    }
    .newsletter__title{
        font-size: 3.6rem;
        margin-bottom: 2rem;
    }
    .newsletter__text{
        font-size: 1.8rem;
        max-width: 400px;
    }
    .newsletter__form{
        max-width: 450px;
        border-radius: 12px;
    }
    .newsletter__form input{
        font-size: 1.8rem;
        padding: 2rem;
    }
    .newsletter__form button[type='submit']{
        padding: 0 3rem;
        font-size: 1.8rem;
    }
}